<div class="flex items-center justify-center h-screen bg-mainBlue">
    <div class="flex flex-row bg-white shadow-lg rounded-lg w-full max-w-4xl p-4">
      <!-- Kör alakú karakter kép -->
      <div class="flex-shrink-0">
        <div class="w-32 h-32 rounded-full overflow-hidden border-4 border-gray-300">
          <img src="robot.png" alt="Character" class="w-full h-full object-cover -scale-x-100">
        </div>
      </div>
      <!-- Szöveges rész -->
      <div class="ml-6 flex-1 w-full flex justify-center flex-col items-center">
        <p class="text-lg font-medium text-gray-800">
          Szia! <br> Az én nevem Robotka és én leszek a legjobb barátod, aki segít majd neked ezen az oldalon! <br> Először is kezdjük azzal hogy bejelentkezünk! Kattints a nagy kék gombra itt lent! <br> Ebben jó ha egy felnőtt segít majd neked!
        </p>
            <button class="bg-blue-900 text-white px-32 font-bold  rounded-lg py-3 mt-5" routerLink="login">KEZDÉS</button>
      </div>
    </div>
  </div>
  